
@media screen and (max-width: 600px) {
    // header{
    //     padding: 0;
    // }
}

.right-header{
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    .name{
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 25rem;
    }
}
.header-content .left-header .image{
    margin: 0 auto;
    width: 90%;
}



.portfolios{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
}
